@media screen and (max-width: 1420px){
    input{
        width: 130px;
    }

    #searchContacts p{
        padding-right: 3px;
        padding-left: 3px;
        color: white;
        font-size: 15px;
    }

    #searchContacts p:nth-child(4){
        padding-left: 15px;
    }

    #infoBar{
        width: 440px;
        right: 5px; 
    }
}



@media screen and (max-width: 1300px){
    nav ul li{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 13px;
    }

    nav{
        width: 780px;
    }
}

@media screen and (max-width: 1250px){                      /*priprava na responzivitu sekcie ODVETVIA */
    
}



@media screen and (max-width: 1200px){
    #searchContacts p{
        display: none;
    }
    #infoBar{
        width: 220px;
        right: 5px; 
    }

    nav{
        width: 600px;
    }

    nav ul{
        margin: 0 auto;
    }
}



@media screen and (max-width: 1030px){
    nav{
        width: 550px;
    }

    nav ul li{
        padding-left: 3px;
        padding-right: 3px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1005px){
    #banner{
        height: 50vh;
    }

    #banner h1{
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
        /* background-color: red; */
        padding-left: 10px;
        padding-right: 10px;
    }


}

