@media screen and (max-width: 1420px){
    input{
        width: 130px;
    }

    #searchContacts p{
        padding-right: 3px;
        padding-left: 3px;
        color: white;
        font-size: 15px;
    }

    #searchContacts p:nth-child(4){
        padding-left: 15px;
    }

    #infoBar{
        width: 440px;
        right: 5px; 
    }
}



@media screen and (max-width: 1300px){
    nav ul li{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 13px;
    }

    nav{
        width: 780px;
    }
}

@media screen and (max-width: 1240px){                      
  
    #urcenie{
        width: 100%;
        height: 620px;
        /* background-color: #969faf; */
        display: flex;
        flex-direction: column;
    
        
    }

    .urcenieHalf{
        width: 100%;
        height: 620px;
        background-color: #EEEFF1;
        
        text-align: center;
        
        /* border: 1px red solid; */
    }

    .urcenieHalf p{
        color:#727272;
        width: 70%;
        /* background-color: yellow; */
        margin: 0 auto;
        line-height: 21.5px;
        /* background-color: red; */
        text-align: center;
    }

    .urcenieHalf h5{
        
        margin: 0 auto;
    }
    #funkcionalita{
        width: 178px;
        height: 47px;
        border: 1px grey solid;
        border-radius: 4px;
        position: relative;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
       
        
    }

    #urcenie{
        height: 1120px;
        /* background-color: #969faf;  */
    }

    .urcenieHalf2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
    #section1of4{
        width: 25%;
        height: 80%;
        /* background-color: yellow; */
        position: relative;
        top: 20px;
    }
    
    #section2of4{
        margin-top: -6px;
        width: 25%;
        height: 80%;
        /* background-color: orange; */
        position: relative;
        
    }
    
    #section3of4{
        width: 25%;
        height: 80%;
        /* background-color: aquamarine; */
        position: relative;
        top: 58px;
    }
    
    #section4of4{
        margin-top: 62px;
        width: 25%;
        height: 80%;
        /* background-color: red; */
        position: relative;
        
    }

    .marginSection{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 5px;
        margin-right: 5px;
    }

      
    }




@media screen and (max-width: 1200px){
    #searchContacts p{
        display: none;
    }
    #infoBar{
        width: 220px;
        right: 5px; 
    }

    nav{
        width: 600px;
    }

    nav ul{
        margin: 0 auto;
    }
}

@media screen and (max-width: 1090px){
    .urcenieHalf2 h2{
        font-size: 14px;
      
    }

    .marginSection{
        margin: 0 5px;

    }

    #section1of4{
       margin-left: 10px;
    }

    #section4of4{
       margin-right: 10px;
    }
}



@media screen and (max-width: 1030px){
    nav{
        width: 550px;
    }

    nav ul li{
        padding-left: 3px;
        padding-right: 3px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1005px){
    #banner{
        height: 45vh;
    }

    #banner h1{
        font-size: 30px;
        line-height: 40px;
        margin-top: 110px;
        
        /* background-color: red; */
        padding-left: 10px;
        padding-right: 10px;

    }

    header{
        width: 100%;
        height: 75px;
        background-color: rgb(255, 255, 255);
        opacity: 100%;
    }

    nav ul li{
        display: none;
    }

    #infoBar input{
        display: none;
    }

    #logo img{
        display: none;
    }

    #logo img:nth-child(2){
        display: inline-block;
        height: 100px;
        transform: scale(1.2);
        margin-left: -35px;
    }

    #odvetvia{
        margin-top: 30px;
        margin-bottom: 40px;
        min-width: 800px;
        height: 270px;
        
    }

    #nadpisOdvetvia p{
        font-size: 20px;
        position: relative;
        margin-top: -40px;
    }

    #odvetvia img{
        
        margin-top: -40px;
    }

    .popisWrapper p{
       
        margin-top: 40px;
    }

    #slideshow{
        width: 98%;
        margin: 0 auto;
        margin-top: -100px;
        margin-bottom: 70px;
    }

 

 


}

@media screen and (max-width: 830px){

    #odvetvia{
        margin-top: 30px;
        margin-bottom: 40px;
        min-width: 600px;
        height: 400px;
        
       
        
    }

    #obrazkyOdvetvia{
        width: 100%;
        height: 145px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        flex-wrap: wrap;
        /* border: 1px rgb(49, 158, 64) solid; */
        margin: 0 auto;
        
    
        
    }

    .imgAndContent{
        position: relative;
    }

    #slideshow{
        width: 98%;
        margin: 0 auto;
        margin-top: -100px;
        margin-bottom: 70px;
    }







}

@media screen and (max-width: 810px){
    .urcenieHalf2{
        display: flex;
        flex-direction: row;
        justify-content: center ;
        align-items: center;
        flex-wrap: wrap;
    }

    #section1of4{
        width: 50%;
        height: 45%;
        /* background-color: yellow; */
       
    }

    #section1of4 p{
        padding-bottom: 90px;
    }

    #section3of4{
        width: 40%;
        height: 45%;
        /* background-color: aquamarine; */
        margin-top: -75px;
    }

    #section2of4{
        width: 40%;
        height: 50%;
        /* background-color: orange; */
        margin-left: 15px;
        margin-top: -20px;
        
        

    }

    #section4of4{
        width: 50%;
        height: 50%;
        margin-top: 38px;        

        /* background-color: red; */
    }

    .marginSection{
        margin: 0 5px;
    }

    #slideshow{
        width: 95%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

   
}


@media screen and (max-width: 634px){
    #odvetvia{
        margin-top: 30px;
        margin-bottom: 40px;
        min-width: 300px;
        height: 550px;
        
       
        
    }

    #nadpisOdvetvia p {
        padding: 0 20px;
        text-align: center;
        font-size: 18px;
    }

    
    }





@media screen and (max-width: 616px){
    #funkcionalita{
        width: 178px;
        height: 47px;
        border: 1px grey solid;
        border-radius: 4px;
        position: relative;
        margin: 0 auto;
        margin-top: 10px; 
          
    }

    .urcenieHalf{
        width: 100%;
        height: 620px;
        background-color: #EEEFF1;
        
    }

    .urcenieHalf h1{
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 30px;
        /* background-color: red; */
        color: #272B2B;
        margin-left: 10px;
    
    }

    .urcenieHalf p {
        width: 95%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    
}

